.about-us-content{
	width: 48%;
	h2{
		font-size: var(--am_font_size_48)
	}
	.about-us-btn{
		row-gap: 10px;
	}
}
.about-us-image{
	width: 48%;
	img{
		border-radius: 0px;
		object-fit: contain;
	}
}
