a.event-teaser__item,
a.event-teaser__item:visited {
	padding: 20px 0px;
	box-sizing: border-box;
	text-decoration: none;
	display: block;
	position: relative;
	background-color: var(--cph_color_on_primary);
	transition: all 0.5s ease-in-out;
	z-index: 2;
	border: none;

	&:first-child {
		border-top: 1px solid var(--cph_black_20);
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0%;
		width: 0;
		height: 100%;
		background: var(--cph_color_primary);
		display: block;
		content: "";
		transition: width 0.5s ease-in-out;
	}

	&::after {
		content: "";
		position: absolute;
		background-color: var(--cph_black_20);
		width: 100vw;
		margin-inline-start: 50%;
		transform: translateX(-50%);
		height: 1px;
		z-index: 0;
		left: 0;
		transition: all 0.5s ease-in-out;
		bottom: 0;
	}

	&:hover {
		&:first-child {
			border-top: 1px solid var(--cph_green);
		}

		&::before {
			width: 100%;
		}

		&::after {
			background-color: var(--cph_green);
		}

		.event-teaser__image {
			rotate: 5deg;
			bottom: -25px;
			opacity: 1;

		}

		.event-teaser__inner{
			background-color: var(--am_topbar_bgcolor);
			color: var(--am_white_text);
			transition: all 0.5s ease-in-out;

			.outer-circle{
				border-color: var(--am_white);
			}
			.inner-circle{
				background-color: var(--am_white);
				color: var(--am_topbar_bgcolor);
			}


		}

		.event-teaser__date,
		.event-teaser__title {
			color: var(--cph_color_on_primary);
		}

		.event-teaser__title {
			padding-left: 20px;
		}
	}
}

.event-teaser {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		background-color: var(--cph_white);
		height: 140px;
		bottom: -45px;
		width: 100%;
		z-index: 2;
	}

	h2{
		font-size: 60px;
		width: 55%;
		margin: 0 auto;
		text-align: center;
	}

	&__inner {
		position: relative;
		flex-wrap: wrap;
		max-width: 1260px;
		width: 90%;
		margin: 0 auto;
		background: var(--am_blue_5);
		color: var(--am_black);
		padding: 30px 50px;
		border-radius: 20px;

		.outer-circle{
			    border: 1px solid var(--am_topbar_bgcolor);
    			border-radius: 50%;
    			padding: 2px;
			transition: all 0.5s ease-in-out;

			.inner-circle{
				background: var(--am_topbar_bgcolor);
    			border-radius: 50%;
    			padding: 10px;
				color: var(--am_white_text);
			transition: all 0.5s ease-in-out;

			}
		}
		h3{
			margin-bottom: 0;
			font-size: 20px;
		}

		p{
			width: 27%;
			margin-bottom: 0;
			line-height: 1.2;
		}


	}

	&__date {
		width: 193px;
		margin-right: 20px;
		font-size: 18px;
		line-height: 1.2;
		@include font(mont, bold);
		letter-spacing: -0.36px;
		text-decoration: none;
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		color: var(--cph_black);
	}

	&__title {
		transition: all 0.5s ease-in-out;
		margin-top: -6px;
		display: flex;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;

		&-text {
			line-height: 1;
			letter-spacing: 0.64px;
			text-decoration: none;
		}
	}

	&__image {
		position: absolute;
		left: 50%;
		line-height: 0.67;
		width: 250px;
		aspect-ratio: 300 / 200;
		transition: all 0.5s linear;
		transform-origin: top left;
		transform: translateX(-50%);
		bottom: -130px;
		opacity: 0;
		z-index: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	&__tag {
		border-radius: 4px;
		border: 3px solid var(--cph_light_green);
		background-color: var(--cph_light_green);
		margin-top: 6px;

		span {
			@include font(mont, bold);
			letter-spacing: -0.32px;
			color: var(--cph_green);
			line-height: 1.2;
			padding: 3px 8px 2px 8px;
			border-radius: 4px;
			font-size: 16px;
			display: block;

			border: 1px solid var(--cph_med_green);
		}
	}

	&__button {
		line-height: 0.65;
		position: relative;
		z-index: 3;
		max-width: 1260px;
		width: 88%;
		margin: 0 auto;
		background-color: #fff;
		padding-top: 43px;
	}
}

.event-teaser.variation {
	&::after {
		display: none;
	}

	.event-teaser__main {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1260px;
		width: 90%;
		margin: 0 auto;
	}

	.event-teaser__left {
		width: 45%;

		.text-276 {
			margin-bottom: 0;
			line-height: 0.9;
		}
	}

	.event-teaser__right {
		width: 49.3%;
	}

	.event-teaser__text-box {
		padding-bottom: 15px;
	}

	.event-teaser__image {
		position: initial;
		width: 46.4%;
		aspect-ratio: 584/384;
	}

	.event-teaser__inner {
		display: flex;
		justify-content: space-between;
		.outer-circle{
			    border: 1px solid black;
    			border-radius: 50%;
    			padding: 4px;
			.inner-circle{
				background: black;
    			border-radius: 50%;
    			padding: 10px;
			}
		}

		p{
			width: 27%;
			margin-bottom: 0;
			line-height: 1.2;
		}

	}

	.event-teaser__head {
		display: block;
		width: 49.2%;


	}

	.event-teaser__item {
		&::before {
			display: none;
		}

		&:hover {
			&::before {
				width: 100%;
			}

			.event-teaser__image {
				transform: initial;
			}

			.event-teaser__date,
			.event-teaser__title {
				color: var(--cph_green);
			}

			.event-teaser__title {
				padding-left: 0px;
			}

			span.button {
				border: solid 1px var(--cph_theme_btn_border_color_hover);
				color: var(--cph_theme_btn_color_hover);
			}
		}
	}

	.event-teaser__date {
		width: max-content;
		margin-right: 0;
		font-size: 16px;
		margin-bottom: 7px;
	}

	.event-teaser__title-content {
		color: var(--cph_black);
		margin-top: 26px;

		p {
			margin-bottom: 20px;
			letter-spacing: -0.18px;
			@include font(mont, reg);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.event-teaser__list {
		margin-top: 79px;
	}

	a.event-teaser__item,
	a.event-teaser__item:visited {
		padding: 95px 0;
		transition: none;

		&:hover {
			&::after {
				background-color: var(--cph_black_20);
			}

			border-color: var(--cph_black_20);

			.event-teaser__date {
				color: var(--cph_black);
			}

			a.button,
			a.button:visited,
			span.button,
			.is-style-mycustomstyle .wp-element-button {
				border: solid 1px var(--cph_theme_btn_border_color_hover);
				color: var(--cph_theme_btn_color_hover);
			}

			.img-hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	.event-teaser__title-button {
		line-height: 0.65;
		margin-top: 34px;
	}

	.event-teaser__tag {
		span {
			font-size: 13px;
		}
	}

	.event-teaser__button {
		display: flex;
		justify-content: center;
		margin-top: 98px;
		padding-top: 0;

		a.button,
		a.button:visited,
		span.button,
		.is-style-mycustomstyle .wp-element-button {
			@include font(mont, bold);
		}
	}
}

.event-teaser.template-variation {
	.event-teaser__list {
		margin-top: 0;
	}

	.event-teaser__item {
		padding: 35px 0 !important;

		&:hover {
			.event-teaser__head {
				padding-left: 20px;
			}
		}
	}

	.event-teaser-inner-box {
		display: flex;
		align-items: center;
		gap: 30px;
		width: 60%;
	}

	.event-teaser__image {
		width: 181px;
	}

	.event-teaser__head {
		width: 60%;
		transition: 0.3s all ease-in-out;
		// &:hover{
		// 	background-color: var(--am_topbar_bgcolor);
		// 	color: var(--am_white_text);
		// }

		// .outer-circle{
		// 	    border: 1px solid black;
    	// 		border-radius: 50%;
    	// 		padding: 4px;
		// 	.inner-circle{
		// 		background: black;
    	// 		border-radius: 50%;
    	// 		padding: 10px;
		// 	}
		// }

		// p{
		// 	width: 27%;
		// 	margin-bottom: 0;
		// 	line-height: 1.2;
		// }
	}



	.event-teaser__date {
		font-size: 18px;
	}

	.event-teaser__inner {
		align-items: center;

	}

	.event-teaser__title-button {
		margin-top: 0;
	}
}

