
.event-teaser {
	.event-teaser-heading {
		width: 75%;
		text-align: center;
		margin: 0 auto 70px;

		.heading-2 {
			font-size: var(--am_font_size_48);
		}
	}
	.event-teaser__list {
		align-items: stretch;
		padding: 50px;
		box-sizing: border-box;
		a{
			border-bottom: none;
		}
	}
}

.event-teaser__inner {
	width: 340px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	&:hover {
		transform: translateY(-6px);
		.event-teaser__image{
			transform: scale(1.05);
		}
		.event-teaser__head{
			background-color: #113b8d;
		}
		.plus {
			color: #4da3ff;
			transform: rotate(90deg) scale(1.2);
		}

	}
}

.event-teaser__image {
	height: 300px;
	background-size: cover;
	background-position: top;
	transition: all 0.3s ease-in-out
}

.event-teaser__head {
	background-color: var(--am_color_primary);
	color: var(--am_white);
	position: relative;
	padding: 30px 25px 50px 25px;
	min-height: 400px;
	clip-path: polygon(0 0, 100% 0, 100% 85%, calc(95% - 25px) 100%, 0 100%);
	transition: all 0.3s ease-in-out
	h3 {
		margin: 0 0 10px;
		font-size: 22px;
		font-weight: 600;
		color: var(--am_white);
	}
}


.plus {
	position: absolute;
	bottom: 15px;
	right: 20px;
	font-size: 40px;
	color: var(--am_white);
	transition: all 0.3s ease-in-out;
}
