.footer-cta{
	padding: 10% 0;
	.cta-heading{
		h2{
			margin: 0 auto 20px;
			width: 56%;
			font-size: 30px;
			text-transform: none;
		}
		h2,
		p{
			color: var(--am_white);
		}
	}
}

.cta-btn{
	.cta-btn{
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		overflow: hidden;
		padding: 8px 22px;
		text-decoration: none;
		margin-right: 9px;
		text-align: center;
		border-radius: 5px;
		line-height: 1.5;
		font-family: "Axiforma-Bold", arial, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: var(--am_font_size_16);
	}
	.cta-white-btn{
		color: var(--am_theme_btn_bgcolor);
		background-color: var(--am_white);
		border: 2px solid var(--am_white);
		transition: all 0.35s ease-in-out;
		&:hover{
			background-color: var(--am_blue_5);
			color: var(--am_white);
			border: 2px solid var(--am_blue_5);
		}
	}
	.cta-blue-btn{
		background-color: transparent;
		color: var(--am_white);
		border: 2px solid white;
		transition: all 0.35s ease-in-out;
		&:hover{
			color: var(--am_theme_btn_bgcolor);
			background-color: var(--am_white);
			border: 2px solid var(--am_white);
		}
	}
}
