.numbers{
	background-color: var(--am_topbar_bgcolor);
}
.numbers-section{
	position: relative;
	padding: 1px 0;

	.number-heading{
		span{
			font-style: italic;
			color: var(--am_topbar_bgcolor);
		}
		h2{
			font-size: 90px;
			font-weight:600;
			width: 38%;
			margin: 0 auto;
			text-align: center;
			line-height: 1;
			padding: 50px 0;
		}
	}
	.numbers-items{
		gap: 0;
		row-gap: 2px;
		padding: 2px 0;
		.item{
			padding: 15px;
			color: var(--am_white_text);
			border-width: 1px 1px 1px 0px;
			border-style: solid;
			border-color:var(--am_white);

			p,
			h3{
				letter-spacing: 1px;
			}
			h3{
				margin-bottom: 0;
				font-weight: 500;
				font-size: var(--am_font_size_48);

			}
		}
		.item-1,
		.item-5{
			border-width: 1px;
		}
	}
}
.item{
	p:first-child{
		margin-bottom: 15%;
		font-size: var(--am_font_size_18);
	}
	p:last-child{
		margin-bottom: 15px;
		font-size: var(--am_font_size_14);
	}
}
