.numbers-section{
	color: var(--am_white_text);
	position: relative;
	overflow: hidden;
	padding-bottom: 60px;
	.stats-slider {
		.splide__slide {
			padding: 40px 20px;
			border-radius: 20px;
			text-align: center;
			position: relative;
			list-style: none;
			border: 1px solid rgba(0, 0, 0, 0.25);
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(12px) saturate(180%);
			-webkit-backdrop-filter: blur(12px) saturate(180%);
			transition: all 0.4s ease;
			color: #fff;
			cursor: pointer;
			&::before {
				display: none;
			}

			&:last-child {
				border-right: none;
			}

			&:hover {

				.stats-number {
					color: #00b3ff;
				}
			}

			p,
			h3 {
				letter-spacing: 0.5px;
				margin: 0;
			}

			p:first-child {
				margin-bottom: 14px;
				font-size: 14px;
				text-transform: uppercase;
				opacity: 0.8;
				color: black;
			}

			.numbers-heading {
				h3 {
					font-size: 42px;
					font-weight: 700;
					color: #000000;
					margin-bottom: 8px;
					transition: all 0.4s ease;
				}

				p {
					font-size: 15px;
					opacity: 0.8;
					color: black;
				}
			}
		}

	}


	// Animation for smooth reveal
	@keyframes fadeUp {
		from {
			opacity: 0;
			transform: translateY(25px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.numbers-items .item {
		animation: fadeUp 0.8s ease forwards;
	}

	// Responsive layout
	@media (max-width: 1024px) {
		.numbers-section .numbers-items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 600px) {
		.numbers-section .numbers-items {
			grid-template-columns: 1fr;
		}
	}
}
