
.two-columns-tiles-items {
	gap: 2%;


	.two-columns-tiles-item {
		flex: 1 1 45%;
		border: 2px solid var(--am_topbar_bgcolor);
		border-radius: 20px;
		padding: 40px;
		text-align: center;
		min-width: 300px;
		min-height: 400px;
		cursor: pointer;
		transition: all 0.3s
			ease-in-out;
		&:hover{
			transform: translateY(-2px) scale(1.01);
		}
		h2 {
			font-size: var(--am_font_size_48);
			width: 60%;
			margin: 0 auto 20px;
			letter-spacing: 2px;
		}
		p {
			font-size: 1em;
			line-height: 1.6;
			margin-bottom: 30px;
		}
		.two-columns-tiles-btn{
			width: 50%;
			margin: 0 auto;
			text-transform: uppercase;
			&:hover{
				background: #f0f0f0;
				color: #002f6c;
			}
		}
	}
}


