.why-us-inner {
	gap: 40px;
	.why-us-content {
		flex: 1 1 45%;
	}
}

.section-heading h2 span {
	color: #4253b6;
}



.content-block {
	margin-bottom: 40px;
}

.content-block h3 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #0b1f33;
	margin-bottom: 15px;
}

.content-block h3 span {
	font-weight: 600;
	margin-right: 10px;
	color: #4253b6;
}

.content-block.inactive h3 {
	color: #ccc;
}

.content-block p {
	font-size: 1rem;
	color: #4d5b6b;
	line-height: 1.6;
}

.why-us-image {
	flex: 1 1 42%;
	position: relative;
}

.image-grid {
	position: relative;
}

.image-grid img {
	width: 100%;
	display: block;
}

.stat {
	position: absolute;
	left: 10%;
	width: 70%;
	border-radius: 12px;
	padding: 16px 16px 20px;
	color: #0b1f33;
	font-weight: 600;
}

.stat h4 {
	font-size: 2rem;
	margin-bottom: 5px;
}
.stat{
	left: -2%;
	width: 33%;
	p{
		line-height: 1;
		margin: 0;
	}
}

.stat.orange {
	background: var(--am_blue_4);
	top: 20%;
	h4{
		color: var(--am_blue_2);
	}
}

.stat.purple {
	background: var(--am_blue_2);
	top: 50%;
	h4{
		color: white;
	}
	p{
		color: white;
	}
}
