/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

body {

	@include font(int, reg, family weight);
	transition: all 0.3s ease-in-out;
	position: relative;
	font-size: var(--am_font_size_16);
	color: var(--am_body_color);
	background-color: var(--am_body_bg);
	line-height: 1.5;

	&.have-topbar {
		padding-top: var(--am_header-height);
	}
}

p {
	margin: 0 0 30px;
}

::selection {
	color: var(--am_highlight_color);
	background-color: var(--am_highlight_bg);
}
