/****
 *
 * containers
 *
****/


.wrapper {
	max-width: 1300px;
	width: 90%;
	margin: 0 auto;
}
.section-heading{
	text-align: center;
	margin: 0px auto 60px;
	h2{
		font-size: var(--am_font_size_48);
		color: var(--am_black);
		text-transform: uppercase;
	}
	p{
		font-size: 16px;
		margin-bottom: var(--am_space_72);
		color: var(--am_black);
		width: 60%;
		margin: 0px auto;
	}
}

.ctn-980 {
	.wrapper {
		max-width: 980px;
	}
}

.ctn-760 {
	.wrapper {
		max-width: 760px;
	}
}

.ctn-full-width {
	.wrapper {
		max-width: 100%;
		width: 100%;
	}
}


.ctn-navy {
	background-color: var(--wp--preset--color--navy);
}
.ctn-light-blue {
	background: linear-gradient(180deg, #10142b 0%, #1e2250 100%);
}
.ctn-light-gray {
	background-color:#121f6b;}
.ctn-blue{
	background-color: var(--am_topbar_bgcolor);
	color: var(--am_white);
}
