.is-style-am-s2,
.am-s2 {
	height: var(--am_space_2) !important;
}

.is-style-am-s4,
.am-s4 {
	height: var(--am_space_4) !important;
}

.is-style-am-s6,
.am-s6 {
	height: var(--am_space_6) !important;
}

.is-style-am-s8,
.am-s8 {
	height: var(--am_space_8) !important;
}

.is-style-am-s12,
.am-s12 {
	height: var(--am_space_12) !important;
}

.is-style-am-s16,
.am-s16 {
	height: var(--am_space_16) !important;
}

.is-style-am-s20,
.am-s20 {
	height: var(--am_space_20) !important;
}

.is-style-am-s24,
.am-s24 {
	height: var(--am_space_24) !important;
}

.is-style-am-s30,
.am-s30 {
	height: var(--am_space_30) !important;
}

.is-style-am-s36,
.am-s36 {
	height: var(--am_space_36) !important;
}

.is-style-am-s48,
.am-s48 {
	height: var(--am_space_48) !important;
}

.is-style-am-s72,
.am-s72 {
	height: var(--am_space_72) !important;
}

.is-style-am-s96,
.am-s96 {
	height: var(--am_space_96) !important;
}

.is-style-am-s128,
.am-s128 {
	height: var(--am_space_128) !important;
}

.is-style-am-s156,
.am-s156 {
	height: var(--am_space_156) !important;
}

.is-style-am-s200,
.am-s200 {
	height: var(--am_space_200) !important;
}

.is-style-am-s236,
.am-s236 {
	height: var(--am_space_236) !important;
}
